/* Google Font "Viga" */
@import url("https://fonts.googleapis.com/css2?family=Viga&display=swap");

nav {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}

nav.navigation a {
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  font-size: 1em;
  margin: auto;
  text-align: center;
  text-decoration: none;
  width: 15%;
}

nav.navigation a:hover {
  color: rgb(211, 211, 211);
}

nav.navigation li {
  color: black;
  font-size: 1em;
  padding-left: 0.5em;
}

nav.navigation h1 {
  color: black;
  font-family: "Lucida Sans", sans-serif;
  font-size: 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
}

body {
  background-color: rgb(179, 205, 255);
  font-family: "Viga", sans-serif;
}

.nav_header {
  background-color: white;
  width: 100%;
}

h1#header-dashboard {
  color: black;
  font-size: 30px;
  padding-top: 0;
  text-align: center;
}
