/* Google Font "Viga" */
@import url("https://fonts.googleapis.com/css2?family=Viga&display=swap");

/* 
  -----------
   VARIABLES
  -----------
*/
:root {
  /* COLORS */
  --color-theme-primary: #b3cdff;
  --color-theme-secondary: #000;
  --color-theme-tertiary: #fff;
  --color-navbar-background: #b3cdff;
  --color-button-background: #b3cdff;
  --color-hover: #fff;
  --font-color-button: #000;
  /* FONT SIZES */
  --font-size-large: 3rem;
  --font-size-medium: 1.75rem;
  --font-size-small: 1rem;
  --font-size-button: var(--font-size-medium);
  --font-size-map-header: 2rem;
  --font-size-map-link: var(--font-size-small);
  --font-size-map-description: var(--font-size-small);
  --font-size-section-header: var(--font-size-large);
}

/* 
  -----------
   UNIVERSAL
  -----------
*/

/* MAIN */
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  font-family: "Viga", sans-serif;
  margin: 10vh 0 0;
}

h1 {
  font-size: var(--font-size-large);
}

p {
  font-size: var(--font-size-medium);
}

header {
  background-color: var(--color-navbar-background);
  box-shadow: 0 5px 5px -5px #00000033;
  display: flex;
  flex-direction: column;
  min-height: 10vh;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

header hr {
  display: none;
}

/* SECTIONS */
section {
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-top: 10vh;
  text-align: center;
}

section .section-header {
  font-size: var(--font-size-section-header);
}

section * {
  max-width: 50vw;
}

/* CLASSES */
.button {
  border: 0.1em solid white;
  border-radius: 0.12em;
  color: var(--font-color-button);
  display: inline-block;
  font-family: "Viga", sans-serif;
  font-size: var(--font-size-medium);
  font-weight: 300;
  margin: 1em 0.3em 0.3em 0;
  padding: 0.35em 1.2em;
  text-decoration: none;
  text-align: center;
  transition: all 0.2s;
}

.button:hover {
  color: var(--color-hover);
}

.container {
  margin: 0;
  width: 100%;
}

.highlight {
  background-color: var(--color-button-background);
}

/* MAP */
div#map {
  height: 50vh;
  width: 50vw;
  margin: auto;
}

div#map h1 {
  margin: 0;
  padding: 0;
}

div#map h1 a {
  color: black;
  font-size: var(--font-size-map-header);
  margin: 0;
  padding: 0;
}

div#map > a {
  font-size: var(--font-size-map-link);
}

div#map p {
  font-size: var(--font-size-map-description);
}

/* 
  ------------
   NAVIGATION
  ------------
*/

/* MAIN */
nav {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

nav .logo {
  font-size: 2rem;
  padding: 0.5rem;
}

nav .logo a {
  color: #000;
  text-decoration: none;
}

nav ul {
  display: flex;
  list-style-type: none;
  overflow: hidden;
  padding: 0;
}

nav li a {
  color: #000;
  font-size: 1.5rem;
  padding: 1rem;
  text-decoration: none;
}

nav li a:hover {
  color: var(--color-hover);
}

/* DROPDOWNS */

nav .dropdown-sub {
  background-color: var(--color-navbar-background);
  display: none;
  padding-top: 1rem;
  position: absolute;
  z-index: 1;
}

nav .dropdown-sub a {
  display: block;
}

nav .dropdown-sub a:hover {
  color: var(--color-hover);
}

nav .dropdown:hover .dropdown-sub {
  display: block;
}

/* 
  -----------
   INDEX.PHP
  -----------
*/

section#top-dashboard {
  height: 85vh;
  padding-top: 0;
}

section#top-dashboard .section-header {
  color: var(--color-theme-primary);
  font-size: 3.5rem;
  margin-bottom: 0;
  padding-bottom: 0;
}

section#top-dashboard h1:nth-of-type(2) {
  margin-top: 0;
  padding-top: 0;
}

/* 
  -------------------
   CARDS_MANAGER.PHP
  -------------------
*/
